.Footer {
    font-family: Karla, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;

    &--dark {
        color: white;
    }

    &--light {
        color: get-color(palette-dark, code);
    }

    a {
        display: block;
        text-align: left;
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        cursor: pointer !important;
    }

    @media (max-width: 600px)  {
        flex-direction: column;
        align-items: center;

        & > * {
            margin-bottom: 2rem;
        }
    }
}
