.Nav {
    z-index: 101;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 100vw;
    box-sizing: border-box;
    padding: 3rem 5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 600px)  {
        flex-direction: column;
        padding: 3rem 2rem;

        & > *:first-child {
            margin-bottom: 0.5rem;
        }
    }
}

.Nav__logo {
    font-size: 1.1rem;
}

.Nav__links {
    & > *:not(:last-child) {
        margin-right: 1rem;
    }
}

.Nav__links a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--secondary-color);
    text-transform: lowercase;

    &:hover {
        color: var(--primary-color); // inherit the theme
    }
}

.Nav__link--active {
    color: var(--primary-color) !important; // inherit the theme
}
