.Nav {
    z-index: 101;

    font-family: Karla, monospace;
    font-size: 1.1rem;
    margin: 3rem 0;
    font-weight: bold;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 600px)  {
        flex-direction: column;

        & > *:first-child {
            margin-bottom: 0.5rem;
        }
    }
}

.Nav__logo {
    font-size: 1.1rem;
}

.Nav__links {
    & > * {
        margin: 0 1rem;
    }
}

.Nav__links a {
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
    text-transform: lowercase;

    &:hover {
        text-decoration: underline;
    }
}

