.SocialLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__link {
        margin: 0 10px;
        cursor: pointer;
        color: inherit;

        &:hover {
            opacity: 0.8;
        }
    }
}

#SocialLinks__resume {
    transform: scale(0.82);
}
