$gradient: linear-gradient(to left,#ff8a00,#da1b60);
$gradient2: linear-gradient(45deg, #7794ff, #44107A,#FF1361,#FFF800);

@keyframes fade-up {
    from {
        transform: translateY(100px);
        opacity: 0.0;
    }
    to {
        transform: translateY(0);
        opacity: 1.0;
    }
}

@keyframes fade-in {
    from {
        transform: scale(0.90);
        opacity: 0.0;
    }
    to {
        transform: scale(1.0);
        opacity: 1.0
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
  
@mixin mq($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
}

@keyframes angleShake {
    0% { transform: scale(1) rotate(-25deg) skewX(-15deg); }
    5% { transform: scale(1) rotate(-25deg) skewX(15deg); }
    10% { transform: scale(1) rotate(-25deg) skewX(-15deg); }
    15% { transform: scale(1) rotate(-25deg) skewX(15deg); }
    20% { transform: scale(1) rotate(-25deg) skewX(0deg); }
    100% { transform: scale(1) rotate(-25deg) skewX(0deg); }  
}

@keyframes example {
    from {
        position: relative;
        right: 100vw;
      }

    to {
        position: relative;
        right: 0;
    }
}

@mixin gradient-text($grad) {
    text-decoration: none;
    display: inline-block;
    background-size: 120% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-image: $grad;
}