.ArtPage {
  width: 100vw;
  box-sizing: border-box;
  padding: 0 5rem 2rem 5rem;

  @media (max-width: 600px)  {
    padding: 0 2rem 2rem 2rem;
  }

  //animation: fade-in 800ms ease;
}

.ArtSection__header {
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;

  @media (max-width: 800px)  {
    text-align: center;
  }
}

.ArtSection__content {
  text-align: left;
  margin-bottom: 2rem;

  @media (max-width: 800px)  {
    text-align: center;
  }
}