.LandingPage {
    position: relative;
    width: 100vw;
    height: calc(100vh - 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: fade-in 800ms ease;

    &__title {
        z-index: 100;
        font-weight: bold;
        font-size: 100px;
        margin-bottom: 1.5rem;

        &--dark {
        }

        &--light {
            color: get-color(black, 900);
        }
    }

    &__subtitle {
        font-family: 'Fira Mono', monospace;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;

        &--dark {
            color: get-color(palette-dark, secondary);
        }

        &--light {
            color: get-color(black, 800);
        }
    }

    &__indeed {
        color: get-color(blue, core);
    }
}
