.App {
  text-align: center;
  overflow-y: scroll;
}

.App--dark {
  background: get-color(palette-dark, code);
  color: white;
}

.App--light {
  background: get-color(palette-light, primary);
  color: get-color(palette-dark, code);
}