.App {
  text-align: center;
  overflow-y: scroll;

  &--dark {
    background: get-color(palette-dark, code);
    color: white;
  }

  &--light {
    background: get-color(palette-light, primary);
    color: get-color(palette-dark, code);
  }
}
