.App {
  text-align: center;
  overflow-y: scroll;
  font-family: Karla, 'Poppins', 'Helvetica Neue', sans-serif;

  &--dark {
    //background: get-color(palette-dark, code);
    background: rgb(22, 22, 22);
    color: white;
  }

  &--light {
    background: get-color(palette-light, primary);
    color: get-color(palette-dark, code);
  }
}
