.LandingPage {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 800ms ease;

    &__title {
        font-weight: 100;
        font-size: 100px;
        margin-bottom: 1.5rem;
    }

    &__subtitle {
        font-family: 'Fira Mono', monospace;
        font-size: 24px;
        margin-bottom: 1.5rem;

        &--dark {
            color: get-color(palette-dark, secondary);
        }

        &--light {
            color: get-color(blue, highlight);
        }
    }
}
