.LandingPage {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 800ms ease;

    &__title {
        font-weight: 100;
        font-size: 100px;
        margin-bottom: 1.5rem;
        //color: get-color(black, 500);
        // animation: shake 1500ms ease;
        // animation-delay: 1500ms;

        &--dark {
            //color: get-color(black, 800);
        }

        &--light {
            color: get-color(black, 900);
        }
    }

    &__subtitle {
        font-family: 'Fira Mono', monospace;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;

        &--dark {
            color: get-color(palette-dark, secondary);
        }

        &--light {
            color: get-color(black, 800);
        }
    }
}
