.ThemeToggle {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.ThemeToggle__moon {
    opacity: 1.0;
    left: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
    
    &--active {
        opacity: 1.0;
    }

    &--inactive {
        opacity: 0.0;
        transform: translateY(-28px);
    }
}

.ThemeToggle__sun {
    transition: all 0.5s ease-in-out;

    &--active {
        opacity: 1.0;
        transform: translateY(-30px);
    }

    &--inactive {
        opacity: 0.0;
    }
}